<%include partials/header.ejs%>
<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a  class="menu-top-active" href="/home">Home</a></li>
                        <li><a  href="/classes">Classes</a></li>
                        <li><a href="/announcements">Announcements</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- MENU SECTION END-->
<div class="content-wrapper">
        <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Activities </h1>                        
        </div>
    </div>
</div>
    <div class="container">
       <div class="row">
        <div class="col-md-12">
      <div class="panel panel-default">
            <div class="panel-body">
        <% if(activities.length !== 0){ activities.forEach(function(c){%>
                <p>Student <%=c.idnumber%> requested to join class <%=c.classCode%>.</p>
        <% })}else{%>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>No activities.</p>
            </div>
        </div>
        <%}%>
      </div>
        </div>

    </div>

</div>
</div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->
<%include partials/footer.ejs%>
