<%include partials/header.ejs%>
  <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                                <li><a href="/classes">Classes</a></li>
                             <li><a href="/grades">Grades</a></li>
                             <li><a class="menu-top-active" href="/announcements">Announcements</a></li>
                             <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
              <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Announcements </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                           <!--   Basic Table  -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                            		<% if(announcement.length !== 0){ announcement.forEach(function(c){%>
                                        <tr>
                                            <td><h4>For class <%=c.classCode%>: </h4><br>
                                                <p><%=c.announcement%></p>
                                            </td>
                                        </tr>
							        	<% })}else{%>
							        	<tr>
                                            <td>No records available.</td>
                                        </tr>
                               		<%}%>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
<%include partials/footer.ejs%>
