<%include partials/header.ejs%>
    <div class="content-wrapper">
        <div class="container">
              <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Classes </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                           <!--   Basic Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Active/Current Classes
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Class Code</th>
                                            <th>No. of students enrolled: </th>
                                            <th>Post Update</th>
                                            <th>Mange</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                           Create a Class
                        </div>
                        <div class="panel-body">
                            <form method="POST" action="/createClass" role="form">
                                        <div class="form-group">
                                            <label class="control-label" for="success">Class Code</label>
                                            <input name="classCode" type="text" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="warning">Subject</label>
                                            <input name="subject" type="text" class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="error">Code (to be given to students)</label>
                                            <input name="genCode" type="text" class="form-control"/>
                                        </div>
                                        <div class="pull-right">
  											<button type="submit" class="btn btn-success">Submit</button>
  											<button type="submit" class="btn btn-success">Cance</button>
  										</div>

                                    </form>

                        </div>
                            </div>
                        </div>
                </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
<%include partials/footer.ejs%>
