<%include partials/header.ejs%>
  <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-left">
                            <li><a href="/classes">Back to Classes</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
              <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Grades </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                           <!--   Basic Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Grades
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Student</th>
                                            <th>Preliminary</th>
                                            <th>Midterms </th>
                                            <th>Tentative Final</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                            		<% if(grades.length !== 0){ grades.forEach(function(c){%>
                                        <tr>
                                            <td><%=c.idnumber%> <%=c.firstname%> <%=c.lastname%></
                                           </td>
                                           
                                            <% if(c.Preliminary = null){%>

                                            <%} else{%>
                                              <td>
                                                <input class="form-control" type="" name="">
                                            </td>
                                            <%}%>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        <%})%>

                                        </tr>
							        	<% }else{%>
							        	<tr>
                                            <td>No records available.</td>
                                        </tr>
                                    <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
<%include partials/footer.ejs%>
